<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="mailto:musunurusriya@gmail.com">Email</a></li>
				<li><a href="https://www.linkedin.com/in/sriya-musunuru/">LinkedIn</a></li>
	        		<li><a href="https://github.com/SriyaMusunru">Github</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
